@model string
@{ string currentUrl = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}";
    string enc = System.Net.WebUtility.UrlEncode(currentUrl);
    string text = System.Net.WebUtility.UrlEncode(Model); }

<div class="container">
    <div class="row row-grid align-items-center mb-5">
        <div class="col-lg-6 text-lg-center btn-wrapper">
            <a href="https://twitter.com/intent/tweet?url=@enc&text=@text" target="_blank" rel="noopener noreferrer nofollow"
               class="btn btn-icon-only btn-twitter rounded-circle" title="share on twitter">
                <span class="btn-inner--icon"><i class="fa fa-twitter"></i></span>
            </a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=@enc" class="btn-icon-only rounded-circle btn btn-facebook" target="_blank"
               rel="noopener noreferrer nofollow" title="share on facebook">
                <span class="btn-inner--icon"><i class="fa fa-facebook-f"></i></span>
            </a>
            <a href="mailto:?subject=@Model&amp;body=@enc" target="_blank" rel="noopener noreferrer nofollow"
               class="btn btn-icon-only btn-default rounded-circle" title="email">
                <span class="btn-inner--icon"><i class="fa fa-envelope"></i></span>
            </a>
            <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=@enc&title=@text"
               target="_blank" rel="noopener noreferrer nofollow" class="btn btn-icon-only btn-twitter rounded-circle" title="share on linkedin">
                <span class="btn-inner--icon"><i class="fa fa-linkedin"></i></span>
            </a>
        </div>
    </div>
</div>
