@model aspnetcore.blog.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container pt-lg-7">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-white pb-5">
                    <div class="text-muted text-center mb-3"><small>Login</small></div>
                    <div class="btn-wrapper text-center">
                        
                    </div>
                </div>
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                       
                    </div>
                    <form asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" placeholder="Username" asp-for="UserName">
                            </div>
                            <span asp-validation-for="UserName" class="text-danger small"></span>
                        </div>
                        <div class="form-group focused">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input class="form-control" placeholder="Password" asp-for="Password">
                            </div>
                            <span asp-validation-for="Password" class="text-danger small"></span>
                        </div>
                        <div class="custom-control custom-control-alternative custom-checkbox">
                            <input class="custom-control-input" asp-for="RememberMe">
                            <label class="custom-control-label" asp-for="RememberMe"><span>Remember me</span></label>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary my-4">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $("#navbar-main").each(function () {
            $(this).removeClass("navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom");
            $(this).addClass("navbar navbar-main navbar-expand-lg navbar-dark bg-primary");
        });

          $(function () {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });
            var msg = '@TempData["msg"]';
            if (msg != "") {
                Toast.fire({
                    type: 'success',
                    title: '@TempData["msg"]'
                })
            }
          });
    </script>
}
